@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  touch-action: none;
  @apply cursor-fancy;
}

@keyframes dotAnimation {
  0%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  } /* First dot appears */
  40% {
    opacity: 1;
  } /* Second dot appears */
  60% {
    opacity: 1;
  } /* Third dot appears */
}

.dot {
  display: inline-block;
  opacity: 0;
  animation: dotAnimation 5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 1.66s; /* Adjusted for the new total duration */
}

.dot:nth-child(3) {
  animation-delay: 3.33s; /* Adjusted for the new total duration */
}

.container-bg-gradient {
  background: linear-gradient(180deg, #1b1b1b 0%, rgba(24, 24, 24, 0.95) 100%);
}

.container-bg-gradient-secondary {
  background: linear-gradient(180deg, #b0b8ae 3.09%, rgba(72, 53, 47, 0.6) 100%);
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

* {
  user-select: none;
}

*::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 8px;
  border: 1px solid var(--gray-gold, #776756);
  margin-bottom: 2px;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e0af65;
  border-radius: 8px;
  border: 1px solid var(--gray-gold, #776756);
}

.root-container {
  pointer-events: none;
}

.root-container > * {
  pointer-events: auto;
}

h1 {
  @apply text-4xl font-bold;
}

.track-name-container {
  width: 100%;
  overflow: hidden;
}

.track-name {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: scroll linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.progress-circle {
  transform: rotate(-90deg); /* Rotate the circle to start from the top */
}


.progress-circle__progress {
  @apply stroke-gold;
  stroke-width: 10;
  transition: stroke-dashoffset 0.35s; /* Smooth transition for the progress */
  transform-origin: center; /* Ensure the rotation pivot is the center of the circle */
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl font-bold ;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl font-semibold ;
}

h3 {
  @apply text-xl sm:text-2xl md:text-3xl font-medium ;
}

h4 {
  @apply text-lg sm:text-xl md:text-2xl font-normal ;
}

h5 {
  @apply text-base sm:text-lg md:text-xl font-light ;
}

h6 {
  @apply text-sm sm:text-base md:text-lg font-thin ;
}