node_modules
contracts/target/*
!contracts/target/dev/manifest.json
!contracts/target/release/manifest.json
contracts/torii.db
contracts/KATANA.toml
contracts/manifests/*
# !contracts/manifests/dev/manifest.json
# !contracts/manifests/dev/manifest.toml
# !contracts/manifests/prod/manifest.json
# !contracts/manifests/prod/manifest.toml