DISCORD_TOKEN = ""
TORII_URL = "https://api.cartridge.gg/x/eternum-40/torii"
NODE_URL = "https://api.cartridge.gg/x/eternum-40/katana/"
TORII_RELAY_URL = ""
WORLD_ADDRESS = "0x073bad29b5c12b09f9023e8d3a5876ea6ebd41fa26cab5035369fec4691067c2"