DISCORD_TOKEN = ""
TORII_URL = "https://api.cartridge.gg/x/eternum-40/torii"
NODE_URL = "https://api.cartridge.gg/x/eternum-40/katana/"
TORII_RELAY_URL = ""
WORLD_ADDRESS = "0x76ca3dfc3e96843716f882546f0db96b7da0cf988bdba284b469d0defb2f48f"