DISCORD_TOKEN = ""
TORII_URL = "https://api.cartridge.gg/x/eternum-chat/torii"
NODE_URL = "https://api.cartridge.gg/x/eternum-chat/katana/"
TORII_RELAY_URL = ""
WORLD_ADDRESS = "0x6918fe8c1ba16bdc83b9790cd9168d730aa98a22c65164578ef99af1c8cbc76"