@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  touch-action: none;
  text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.1);
}
