DISCORD_TOKEN = ""
TORII_URL = "https://api.cartridge.gg/x/eternum-35/torii"
NODE_URL = "https://api.cartridge.gg/x/eternum-35/katana/"
TORII_RELAY_URL = "/ip4/127.0.0.1/udp/9091/webrtc-direct/certhash/uEiDnBV7F921DB0TUEvlf1HGFgNeNsTFUHr7snpwa1-D_xQ"
WORLD_ADDRESS = "0x5889930b9e39f7138c9a16b4a68725066a53970d03dfda280a9e479e3d8c2ac"