@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  @layer base {
    :root {
      --background: oklch(0.9582 0.0152 90.2357);
      --foreground: oklch(0.3760 0.0225 64.3434);
      --card: oklch(0.9914 0.0098 87.4695);
      --card-foreground: oklch(0.3760 0.0225 64.3434);
      --popover: oklch(0.9914 0.0098 87.4695);
      --popover-foreground: oklch(0.3760 0.0225 64.3434);
      --primary: oklch(0.6180 0.0778 65.5444);
      --primary-foreground: oklch(1.0000 0 0);
      --secondary: oklch(0.8846 0.0302 85.5655);
      --secondary-foreground: oklch(0.4313 0.0300 64.9288);
      --muted: oklch(0.9239 0.0190 83.0636);
      --muted-foreground: oklch(0.5391 0.0387 71.1655);
      --accent: oklch(0.8348 0.0426 88.8064);
      --accent-foreground: oklch(0.3760 0.0225 64.3434);
      --destructive: oklch(0.5471 0.1438 32.9149);
      --destructive-foreground: oklch(1.0000 0 0);
      --border: oklch(0.8606 0.0321 84.5881);
      --input: oklch(0.8606 0.0321 84.5881);
      --ring: oklch(0.6180 0.0778 65.5444);
      --chart-1: oklch(0.6180 0.0778 65.5444);
      --chart-2: oklch(0.5604 0.0624 68.5805);
      --chart-3: oklch(0.4851 0.0570 72.6827);
      --chart-4: oklch(0.6777 0.0624 64.7755);
      --chart-5: oklch(0.7264 0.0581 66.6967);
      --sidebar: oklch(0.9239 0.0190 83.0636);
      --sidebar-foreground: oklch(0.3760 0.0225 64.3434);
      --sidebar-primary: oklch(0.6180 0.0778 65.5444);
      --sidebar-primary-foreground: oklch(1.0000 0 0);
      --sidebar-accent: oklch(0.8348 0.0426 88.8064);
      --sidebar-accent-foreground: oklch(0.3760 0.0225 64.3434);
      --sidebar-border: oklch(0.8606 0.0321 84.5881);
      --sidebar-ring: oklch(0.6180 0.0778 65.5444);
      --font-sans: Space Grotesk, serif;
      --font-serif: Space Grotesk, serif;
      --font-mono: IBM Plex Mono, monospace;
      --radius: 0.25rem;
      --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
      --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
      --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
      --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
      --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
      --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
      --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
      --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    }
    .dark {
      --background: oklch(0.2747 0.0139 57.6523);
      --foreground: oklch(0.9239 0.0190 83.0636);
      --card: oklch(0.3237 0.0155 59.0603);
      --card-foreground: oklch(0.9239 0.0190 83.0636);
      --popover: oklch(0.3237 0.0155 59.0603);
      --popover-foreground: oklch(0.9239 0.0190 83.0636);
      --primary: oklch(0.7264 0.0581 66.6967);
      --primary-foreground: oklch(0.2747 0.0139 57.6523);
      --secondary: oklch(0.3795 0.0181 57.1280);
      --secondary-foreground: oklch(0.9239 0.0190 83.0636);
      --muted: oklch(0.3237 0.0155 59.0603);
      --muted-foreground: oklch(0.7982 0.0243 82.1078);
      --accent: oklch(0.4186 0.0281 56.3404);
      --accent-foreground: oklch(0.9239 0.0190 83.0636);
      --destructive: oklch(0.5471 0.1438 32.9149);
      --destructive-foreground: oklch(1.0000 0 0);
      --border: oklch(0.3795 0.0181 57.1280);
      --input: oklch(0.3795 0.0181 57.1280);
      --ring: oklch(0.7264 0.0581 66.6967);
      --chart-1: oklch(0.7264 0.0581 66.6967);
      --chart-2: oklch(0.6777 0.0624 64.7755);
      --chart-3: oklch(0.6180 0.0778 65.5444);
      --chart-4: oklch(0.5604 0.0624 68.5805);
      --chart-5: oklch(0.4851 0.0570 72.6827);
      --sidebar: oklch(0.2747 0.0139 57.6523);
      --sidebar-foreground: oklch(0.9239 0.0190 83.0636);
      --sidebar-primary: oklch(0.7264 0.0581 66.6967);
      --sidebar-primary-foreground: oklch(0.2747 0.0139 57.6523);
      --sidebar-accent: oklch(0.4186 0.0281 56.3404);
      --sidebar-accent-foreground: oklch(0.9239 0.0190 83.0636);
      --sidebar-border: oklch(0.3795 0.0181 57.1280);
      --sidebar-ring: oklch(0.7264 0.0581 66.6967);
      --font-sans: Space Grotesk, serif;
      --font-serif: Space Grotesk, serif;
      --font-mono: IBM Plex Mono, monospace;
      --radius: 0.25rem;
      --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
      --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
      --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
      --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
      --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
      --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
      --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
      --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    }
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

::-webkit-scrollbar,
.table-scroll::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track,
.table-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(187, 182, 182, 0.3);
}

::-webkit-scrollbar-thumb,
.table-scroll::-webkit-scrollbar-thumb {
  @apply bg-black dark:bg-white/70;
  border-radius: 0.15em;
}

::-webkit-scrollbar:horizontal,
.table-scroll::-webkit-scrollbar:horizontal {
  height: 0.3em;
}

::-webkit-scrollbar-track:horizontal,
.table-scroll::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 6px rgba(187, 182, 182, 0.3);
}

::-webkit-scrollbar-thumb:horizontal,
.table-scroll::-webkit-scrollbar-thumb:horizontal {
  @apply bg-black dark:bg-white/70;
  border-radius: 0.15em;
}
