[package]
cairo-version = "=2.8.4"
name = "s0_eternum"
version = "1.0.0"

[cairo]
sierra-replace-ids = true

[dependencies]
starknet = "2.8.4"
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.0.3" }

[dev-dependencies]
dojo_cairo_test = { git = "https://github.com/dojoengine/dojo.git", tag = "v1.0.3" }

[tool.fmt]
sort-module-level-items = true
max-line-length = 120

[profile.local]

[profile.sepolia]

[profile.mainnet]

[[target.starknet-contract]]
sierra = true
build-external-contracts = ["dojo::world::world_contract::world"]
