target/*
torii.db
KATANA.toml
manifests/dev/deployment/abis/*
manifests/dev/deployment/abis/*
manifests/dev/base/*
manifests/dev/base/*
manifests/prod/deployment/abis/*
manifests/prod/deployment/base/*
manifests/prod/abis/*
manifests/prod/base/*
.DS_Store

torii.db-wal
torii.db-shm

dojo_prod.local.toml

.env

dojo_mainnet.toml