# Please be mindful that changing the content of this file will impact the Eternum Launcher app

rpc = "http://127.0.0.1:5050"

world_address = "0x073950062abfeceb350d84787e2ec61b174f71db3bafbe26ef87a7e8bae37b55"

db_dir = "torii-local"

[indexing]
events_chunk_size = 1024  # Size of events page to fetch
blocks_chunk_size = 10240 # Blocks to process before DB commit

pending = true # Enable indexing pending blocks

polling_interval = 500 # Polling interval in milliseconds

max_concurrent_tasks = 100 # Maximum concurrent indexing tasks

transactions = true

contracts = [
      "erc721:0x5c7d2d225fcd746a797f0a6adf16312b03be896fa0d13da7c6870e76c06ba35",
      "erc721:0x58a1714d738ac2dd2c06e949d573c14ff1e49f40e5c5f1a983a1e486f233d26",
	  "erc721:0x79a5a6da4bbf73eb75aa64e0e037b5142c29fb17990b8e1493a5b0c32f290ec",
	  "erc721:0x1834f0fcea53d79298884fd32cd32b63cf582149f4b96b35889b26024076f10",
      "erc20:0x5485590ba1002bde234f91bc36c8c53b4e1e4a380b0124203309c2f5f14189b",
]

namespaces = ["s1_eternum"]

world_block = 0

[sql]
all_model_indices = false
# TODO(tedison): do another pass through the queries when composite indices are supported
model_indices = [
	{ model_tag = "s1_eternum-ResourceList", fields = ["amount"]},
	{ model_tag = "s1_eternum-ExplorerTroops", fields = ["owner", "coord.x", "coord.y"]},
	{ model_tag = "s1_eternum-Structure", fields = ["category", "base.coord_x", "base.coord_y", "metadata.has_wonder", "metadata.villages_count", "metadata.realm_id", "owner"]},
	{ model_tag = "s1_eternum-Tile", fields = ["col", "row"] },
	{ model_tag = "s1_eternum-StructureVillageSlots", fields = ["connected_realm_id"] },
]
hooks = [
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_tokens_contract_address] ON tokens (contract_address)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_token_transfers_to_address] ON token_transfers (to_address)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_token_transfers_from_address] ON token_transfers (from_address)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_token_transfers_token_id] ON token_transfers (token_id)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_token_transfers_contract_address_to_address] ON token_transfers (contract_address, to_address)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-WorldConfig" } }, statement = "CREATE INDEX [idx_token_transfers_contract_address_token_id_from_address] ON token_transfers (contract_address, token_id, from_address)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-Tile" } }, statement = "CREATE INDEX [idx_col_row_s1_eternum-Tile] ON [s1_eternum-Tile] (col, row)" },
	{ event = { ModelRegistered = { model_tag = "s1_eternum-Structure" } }, statement = "CREATE INDEX [idx_x_y_s1_eternum-Structure] ON [s1_eternum-Structure] ([base.coord_x], [base.coord_y])" },
]
historical = ["s1_eternum-TrophyCreation", "s1_eternum-TrophyProgression"]
cache_size = -500_000 # 512MB of cache size, we can tune this up if needed. This should account for between 30%-80% of the RAM of the slot instance.
page_size = 32_768

[server]
http_cors_origins = ["*"]

[events]
raw = false
