
target/*
!target/dev/manifest.json
!target/release/manifest.json
torii.db
KATANA.toml
manifests/*
!manifests/dev/manifest.json
!manifests/dev/manifest.toml
!manifests/prod/manifest.json
!manifests/prod/manifest.toml