[namespace]
default = "eternum"

[env]
## dev
account_address = "0x3501b8b055c43cc73e01a766a6df019e4ec2beb3667d26852cd66d42b1ea1"
private_key = "0x70da7559cd23cc1d2f75f1238587660c546fc75af677b949a7bc70aac294023"
rpc_url = "https://api.cartridge.gg/x/eternum-35/katana"

[world]
seed = "eternum"
name = "Realms: Eternum"
description = "Rule the Hex"
cover_uri = "file://assets/bg.webp"
website = "https://alpha-eternum.realms.world/"
