[namespace]
default = "eternum"

[env]
account_address = "0x01BFC84464f990C09Cc0e5D64D18F54c3469fD5c467398BF31293051bAde1C39"
private_key = "0x075362a844768f31c8058ce31aec3dd7751686440b4f220f410ae0c9bf042e60"
rpc_url = "https://api.cartridge.gg/x/starknet/sepolia"

[world]
seed = "eternum"
name = "Realms: Eternum"
description = "Rule the Hex"
cover_uri = "file://assets/bg.webp"
website = "https://eternum.realms.world/"

[writers]
"eternum" = [
    "eternum-bank_systems",
    "eternum-battle_pillage_systems",
    "eternum-battle_systems",
    "eternum-building_systems",
    "eternum-config_systems",
    "eternum-dev_bank_systems",
    "eternum-dev_realm_systems",
    "eternum-dev_resource_systems",
    "eternum-donkey_systems",
    "eternum-guild_systems",
    "eternum-hyperstructure_systems",
    "eternum-liquidity_systems",
    "eternum-map_systems",
    "eternum-map_generation_systems",
    "eternum-name_systems",
    "eternum-ownership_systems",
    "eternum-realm_systems",
    "eternum-resource_bridge_systems",
    "eternum-resource_systems",
    "eternum-swap_systems",
    "eternum-trade_systems",
    "eternum-travel_systems",
    "eternum-troop_systems",
]
