name: knip

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  knip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install dependencies
        run: pnpm i
        
      - name: Run knip
        run: pnpm run knip
