name: lint

on:
  push:
    paths:
      - "client/**"
      - "sdk/**"
    branches:
      - main

  pull_request:
    paths:
      - "client/**"
      - "sdk/**"
    types:
      - opened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install dependencies
        run: pnpm i

      - name: Run Prettier
        run: pnpm run prettier-check .
