name: lint

on:
  push:
    branches: 
    - main
    paths:
    - "client/**"

  pull_request:
    paths:
    - "client/**"

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install dependencies
        run: pnpm i

      - name: Run Prettier
        run: pnpm run prettier-check .
