name: test-contracts

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y curl

  test-various:
    needs: [setup-environment]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test: [combat, buildings, config, hyperstructure, bank, map, name, resources, trade, transport, models]
    steps:
      - name: Download Dojo release artifact
        run: |
          curl -L -o dojo-linux-x86_64.tar.gz https://github.com/dojoengine/dojo/releases/download/0.6.1-alpha.4/dojo_0.6.1-alpha.4_linux_amd64.tar.gz
          tar -xzf dojo-linux-x86_64.tar.gz
          sudo mv sozo /usr/local/bin/
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run Dojo Build
        run: |
          cd contracts && sozo build
      - name: Run Dojo Test for ${{ matrix.test }}
        run: |
          cd contracts && sozo test -f ${{ matrix.test }}

  test-scarb-fmt:
    needs: [setup-environment]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.6.4"
      - run: cd contracts && scarb fmt --check
